#set($user_scripts = ["/static/js/zhishu/list.js"])
#parse("/WEB-INF/views/zhishu/tab.vm")

<div>
    <table class="table table-bordered table-hover">
        <tr class="success">
            #foreach($th in ["序号", "指数名称", "创建时间", "操作"])
                <th>$th</th>
            #end
        </tr>
        #foreach($zhishu in $zhishus)
            <tr>
                <td>$zhishu.id</td>
                <td>$zhishu.name</td>
                <td>$zhishu.created</td>
                <td>
                    <a class="btn btn-default" href="/zhishu/data?zhishuId=$zhishu.id">全部数据</a>
                    <a class="btn btn-default" href="/zhishu/data?zhishuId=$zhishu.id&years=6">6年内数据</a>
                    <a class="btn btn-default" href="/zhishu/data?zhishuId=$zhishu.id&from=20000101&to=20150101">2015年前数据</a>
                    <a class="btn btn-default" data-toggle="modal" data-target="#add_data_modal"
                       data-zhishu="$zhishu.id">添加</a>
                </td>
            </tr>
        #end
    </table>
</div>

<div class="modal fade" id="add_data_modal" tabindex="-1" role="dialog"
     aria-labelledby="add_data_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form class="form-horizontal" action="/zhishu/add_data" method="post">
                    <input type="hidden" id="zhishuId" name="zhishuId"/>
                    <div class="form-group">
                        <label for="dataDate" class="col-sm-2 control-label">日期</label>
                        <div class="col-sm-10">
                            <input type="text" name="dataDate" class="form-control" placeholder="2015-01-31"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pe" class="col-sm-2 control-label">市盈率</label>
                        <div class="col-sm-10">
                            <input type="text" name="pe" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pb" class="col-sm-2 control-label">市净率</label>
                        <div class="col-sm-10">
                            <input type="text" name="pb" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="shoupan" class="col-sm-2 control-label">收盘指数</label>
                        <div class="col-sm-10">
                            <input type="text" name="shoupan" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
